.noto-sans-kr-100 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
.noto-sans-kr-200 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.noto-sans-kr-300 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.noto-sans-kr-400 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.noto-sans-kr-500 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.noto-sans-kr-600 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.noto-sans-kr-700 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.noto-sans-kr-800 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
.noto-sans-kr-900 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.brygada-1918-400 {
    font-family: "Brygada 1918", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.brygada-1918-400-italic {
    font-family: "Brygada 1918", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}
.brygada-1918-500 {
    font-family: "Brygada 1918", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.brygada-1918-500-italic {
    font-family: "Brygada 1918", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
}
.brygada-1918-600 {
    font-family: "Brygada 1918", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.brygada-1918-600-italic {
    font-family: "Brygada 1918", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
}
.brygada-1918-700 {
    font-family: "Brygada 1918", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.brygada-1918-700-italic {
    font-family: "Brygada 1918", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
font-family: "Poppins", sans-serif;
font-weight: 200;
font-style: normal;
}

.poppins-light {
font-family: "Poppins", sans-serif;
font-weight: 300;
font-style: normal;
}

.poppins-regular {
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
}

.poppins-medium {
font-family: "Poppins", sans-serif;
font-weight: 500;
font-style: normal;
}

.poppins-semibold {
font-family: "Poppins", sans-serif;
font-weight: 600;
font-style: normal;
}

.poppins-bold {
font-family: "Poppins", sans-serif;
font-weight: 700;
font-style: normal;
}

.poppins-extrabold {
font-family: "Poppins", sans-serif;
font-weight: 800;
font-style: normal;
}

.poppins-black {
font-family: "Poppins", sans-serif;
font-weight: 900;
font-style: normal;
}

.poppins-thin-italic {
font-family: "Poppins", sans-serif;
font-weight: 100;
font-style: italic;
}

.poppins-extralight-italic {
font-family: "Poppins", sans-serif;
font-weight: 200;
font-style: italic;
}

.poppins-light-italic {
font-family: "Poppins", sans-serif;
font-weight: 300;
font-style: italic;
}

.poppins-regular-italic {
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: italic;
}

.poppins-medium-italic {
font-family: "Poppins", sans-serif;
font-weight: 500;
font-style: italic;
}

.poppins-semibold-italic {
font-family: "Poppins", sans-serif;
font-weight: 600;
font-style: italic;
}

.poppins-bold-italic {
font-family: "Poppins", sans-serif;
font-weight: 700;
font-style: italic;
}

.poppins-extrabold-italic {
font-family: "Poppins", sans-serif;
font-weight: 800;
font-style: italic;
}

.poppins-black-italic {
font-family: "Poppins", sans-serif;
font-weight: 900;
font-style: italic;
}

@font-face {
    font-family: 'Cafe24ClassicType-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Cafe24ClassicType-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.en-f{
    font-family: 'Cafe24ClassicType-Regular';
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
.preR-f{
    font-family: 'Pretendard-Regular';
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AritaSansBold';
    src: url('/font/AritaSansLTN-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AritaSansMedium';
    src: url('/font/AritaSansLTN-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.ariSB-f{
    font-family: 'AritaSansMedium';
    font-weight: normal;
    font-style: normal;
}
.ariB-f{
    font-family: 'AritaSansBold';
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AritaBuriKRBold';
    src: url('/font/AritaBuriKR-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AritaBuriKRLight';
    src: url('/font/AritaBuriKR-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arita-buri-SemiBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.ariSB-f{
    font-family: 'Arita-buri-SemiBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.ariBB-f{
    font-family: 'AritaBuriKRBold';
    font-weight: normal;
    font-style: normal;
}
.ariBL-f{
    font-family: 'AritaBuriKRLight';
    font-weight: normal;
    font-style: normal;
}