@font-face {
    font-family: 'Cafe24ClassicType-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Cafe24ClassicType-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
html,body{
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.en-f{
    font-family: 'Cafe24ClassicType-Regular';
    font-weight: normal;
    font-style: normal;
}
@scope (#hollys-header){
    :scope{
        position: fixed;
        background: transparent;
        z-index: 999;
        width: 100%;
        top: 0;
        left: 0;
        padding: 1.25rem 5rem 0;
    }
    .hd-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        h1{
            z-index: 99;
            .blind{
                position: absolute;
                width: 1px;
                height: 1px;
                clip: rect(0 0 0 0);
                margin: -1px;
                overflow: hidden;
            }
        }
        .gnb:hover ~ .header-bg{
            opacity: 1;
            height: 330px;
        }
        .gnb{
            width: 60%;
            text-align: center;
            z-index: 99;
            .depth-01{
                display: flex;
                justify-content: space-between;
                transition: all .3s ease-in-out;
                &:hover .depth-02{
                    height: 260px;
                }
                > li{
                    position: relative;
                    padding: 0 2rem;
                    > a{
                        display: block;
                        line-height: 3;
                        font-size: 1.125rem;
                        font-weight: 500;
                        color: #4f4c4b;
                    }
                    .depth-02{
                        position: absolute;
                        width: 100%;
                        top: 100%;
                        left: 0;
                        height: 0;
                        overflow: hidden;
                        z-index: 99;
                        transition: all 0.4s ease-in-out;
                        li{
                            a{
                                display: block;
                                line-height: 3;
                                font-size: .875rem;
                                color: #4f4c4b;
                            }
                        }
                    }
                }
            }
        }
        .util-list{
            display: flex;
            gap: 1rem;
            align-items: center;
            z-index: 99;
            li:last-child{
                a{
                    font-size: 1.125rem;
                    font-weight: 500;
                    color: #fff;
                    background: #ba000c;
                    padding: 0.625rem;
                    border-radius: 30px;
                }
            }
        }
        .header-bg{
            background: #fff;
            width: 100%;
            top: 0;
            left: 0;
            position: absolute;
            opacity: 0;
            height: 0;
            overflow: hidden;
            z-index: 98;
            transition: all 0.5s ease-in-out;
        }
    }
}

@scope (#fullpage){
    :scope{
        width: 100%;
        height: 100%;
    }
    section.sec1{
        background: url('/img/renewal/hollys/banner.jpg');
    }
    section.sec2{
        background: #fef4f6;
        padding: 2rem 5rem;
        .con-box{
            display: flex;
            justify-content: space-between;
            .left{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                justify-content: center;
                .con-title-wrap{
                    position: relative;
                    .con-title{
                        margin-bottom: 7.5rem;
                        h2{
                            font-size: 5rem;
                            color: #eca69a;
                            line-height: 1;
                            span{
                                color: #ba000d;
                            }
                        }
                        p{
                            font-size: 1.5rem;
                            font-weight: 500;
                            color: #383838;
                        }
                    }
                    .info{
                        font-size: 2.5rem;
                        font-weight: 600;
                        margin-bottom: 1rem;
                        line-height: 1.4;
                    }
                    .price-box{
                        position: relative;
                        z-index: 0;
                        font-size: 1.5rem;
                        font-weight: 500;
                        &::before{
                            content: '';
                            position: absolute;
                            background: #eca69a;
                            padding: 0px;
                            width: 100%;
                            height: 60%;
                            z-index: -1;
                            bottom: 0;
                            left: 0;
                        }
                        .price{
                            font-size: 2.5rem;
                            font-weight: 600;
                        }
                    }
                }
                .con-text-wrap{
                    ul{
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;
                        margin-bottom: 2rem;
                        .one{
                            font-size: 1.25rem;
                        }
                        .two{
                            font-size: 1rem;
                        }
                    }
                    .go-to{
                        font-size: 1.25rem;
                        background: #eca69a;
                        border: none;
                        padding: .5rem 1.4rem .5rem 1rem;
                        transition: all .2s ease;
                        &:hover{
                            background: #ba000d;
                            color: #fff;
                        }
                        &:hover::after{
                            transform: rotate(45deg) translate(3px, -3px);
                            border-color: #fff;
                        }
                        &::after{
                            content: '';
                            border-top: solid 1px #000;
                            border-right: solid 1px #000;
                            transform: rotate(45deg) translateX(0);
                            display: inline-block;
                            width: 14px;
                            height: 14px;
                            margin-left: .5rem;
                            transition: all .2s ease;
                        }
                    }
                }
            }
            .right{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                .img{
                    position: relative;
                    width: 800px;
                    height: 600px;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: url('/img/renewal/hollys/coffee-b.png') no-repeat center / cover;
                        opacity: 0.7;
                    }
                    span{
                        position: absolute;
                    }
                    .left{
                        left: 5%;
                        bottom: 0;
                        img{
                            filter: drop-shadow(-3px 9px 8px #333);
                        }
                    }
                    .right{
                        right: 5%;
                        top: 10%;
                        img{
                            filter: drop-shadow(4px 9px 8px #333);
                        }
                    }

                }
                .tel{
                    display: flex;
                    gap: 1.5rem;
                    justify-content: center;
                    font-size: 5rem;
                    color: #ba000d;
                }
            }
        }
    }
    section.sec3{
        background: url('/img/renewal/hollys/season-bg.jpg');
        .swiper{
            margin: 21rem 11.25rem 0;
        }
        .swiper-slide{
            text-align: center;
            background: rgba(245,237,229, 0.4);
            border: solid 8px #fcebd1;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background 0.3s ease;
            &:hover{
                background: #fcebd1;
            }
            &:hover .info{
                display: flex;
            }
            &:hover .img{
                display: none;
            }
            div{
                display: flex;
                justify-content: center;
                flex-direction: column;
                min-height: 450px;
            }
            .name{
                font-size: 1.5rem;
                color: #383838;
                font-weight: 500;
            }
            .text{
                font-size: 1.125rem;
                color: #383838;
            }
            .more{
                background: #4f4c4b;
                color: #fff;
                font-size: .875rem;
                font-weight: 500;
                padding: .5rem 4rem;
                border-radius: 50px;
            }
            .info{
                display: none;
                gap: 3rem;
                align-items: center;
            }
        }
    }
    section.sec4{
        h2{
            font-size: 5rem;
            color: #383838;
            margin: 3rem 0;
            text-align: center;
        }
        .h-tab-wrap{
            justify-content: space-between;
            margin: 0 5rem;
            .h-tab-name{
                justify-content: space-between;
                .nav-link.active{
                    background: #383838;
                    color: #fff;
                }
                .nav-link{
                    color: #383838;
                    border-radius: 40px;
                    font-size: 1.5rem;
                    font-weight: 500;
                }
            }
            .h-tab-box{
                width: 80%;
                .swiper-slide{
                    text-align: center;
                    background: #f5ede5;
                    .product{
                        display: flex;
                        flex-direction: column;
                        padding: 2rem;
                        gap: 1rem;
                        color: #000;
                        align-items: center;
                        img{
                            transform: scale(1) translateY(0);
                            transition: all 0.3s ease;
                            &:hover{
                                transform: scale(1.1) translateY(-10px);
                            }
                        }
                        .nb-info{
                            font-size: 1.25rem;
                            color: #fff;
                            font-weight: 500;
                            background: #ba000d;
                            padding: .5rem 2rem;
                            border-top-left-radius: 100px;
                            border-top-right-radius: 100px;
                        }
                        .name{
                            font-weight: 500;
                        }
                        .text{
                            font-size: .875rem;
                        }
                    }
                }
            }
        }
    }
    section.sec5{
        display: flex;
        flex-direction: row;
            article{
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 6rem 0 3rem;
            }
            .left{
                background: url('/img/renewal/hollys/membership-bg.jpg');
                gap: 2rem;
                .text{
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    text-align: center;
                    h3{
                        color: #fff;
                        font-size: 3.75rem;
                        line-height: 1;
                        padding: 0 2rem .5rem;
                    }
                    li{
                        color: #fff;
                        font-size: 1.5rem;
                        width: 100%;
                        line-height: 1.2;
                    }
                }
                img{
                    filter: drop-shadow(0px 0px 10px rgba(0,0,40,0.2));
                }
                .more{
                    font-size: 1.5rem;
                    font-weight: 500;
                    background: rgba(255,255,255,0.7);
                    padding: 1rem 3rem;
                    border: none;
                    border-radius: 40px;
                    transition: all .3s ease;
                    &:hover{
                        color: #ba000d;
                        background: #fff;
                    }
                }
            }
            .right{
                background: #fef4f6;
                justify-content: space-between;
                .title{
                    color: #fff;
                    font-size: 1.5rem;
                    font-weight: 500;
                    background: #d83c63;
                    padding: .5rem 2rem;
                }
                .m-info{
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    background: #fff;
                    padding: 2rem 3rem;
                    border-radius: 60px;
                    li{
                        display: flex;
                        align-items: center;
                        gap: 3rem;
                        .info-wrap{
                            color: #593e3e;
                            display: flex;
                            flex-direction: column;
                            gap: .5rem;
                            .tier{
                                font-size: 1.5rem;
                            }
                            li{
                                font-size: 1rem;
                                font-weight: 500;
                            }
                        }
                    }
                }
            
        }
    }
}